//
// Header and Navigation Styling
//
.site-heading {
  color: $site-heading-color;
  background-color: $site-heading-bg;
  font-family: $heading-font;
  margin-top: -20px;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-bottom: 40px;
}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav > li > a,
.navbar-inverse .navbar-nav > li > a {
  color: $site-heading-color;
}

a:hover,
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus,
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: $primary-color;
  text-decoration: none;
}

.navbar {
  font-family: $heading-font;
  min-height: 70px;
}

.navbar-brand {
  font-size: 30px;
  line-height: 40px;
  height: 70px;
}

.navbar-nav {
  font-size: 18px;
  padding-top: 10px;
  text-align: center;

  @include media-query-min($medium){
    text-align: left;
  }

  @include media-query-min($large){
    float: right;
    padding-right: 50px; // Make room for GitHub Ribbon
  }
}

// Hamburger Icon
.navbar-toggle{
  margin-top: 18px; // Align with Header Text
}

.github-ribbon{
  display: none;

  // Only display GitHub Ribbon on large screens
  @include media-query-min($large){
    display: block;
  }
}
