//
// Main SCSS File for Container-Immersion
//
body {
  font-family: $body-font;
  padding-top: 70px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font;
}

h1,
h2 {
  margin-top: 30px;
  margin-bottom: 20px;
}

h1 {
  font-size: 48px;
}

pre {
  font-family: $pre-font;
}

footer {
  margin-top: 70px;
}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav > li > a,
.navbar-inverse .navbar-nav > li > a {
  color: $site-heading-color;
}

a:hover,
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus,
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: $primary-color;
  text-decoration: none;
}

.navbar {
  font-family: $heading-font;
  min-height: 70px;
}

.navbar-brand {
  font-size: 30px;
  line-height: 40px;
  height: 70px;
}

.navbar-nav {
  float: right;
  font-size: 18px;
  padding-top: 10px;
}

.btn-nav {
  padding-left: 20px;
  padding-right: 20px;
  color: #fff;
  background-color: #222;
  transition: all 0.2s;
}

.btn-nav:hover {
  color: #ccc;
  background-color: #000;
  transition: all 0.2s;
}

.btn-nav .fa,
.btn-nav:hover .fa {
  transition: all 0.3s;
}

.btn-nav .fa-chevron-left {
  margin-right: 5px;
}

.btn-nav:hover .fa-chevron-left {
  transform: translateX(-4px);
}

.btn-nav .fa-chevron-right {
  margin-left: 5px;
}

.btn-nav:hover .fa-chevron-right {
  transform: translateX(4px);
}

.bottom-nav {
  margin-top: 40px;
}

.start-text {
  font-family: $heading-font;
  font-size: 5em;
  margin-top: 30px;
  margin-bottom: 40px;
}

.site-heading {
  color: $site-heading-color;
  background-color: $site-heading-bg;
  font-family: $heading-font;
  margin-top: -20px;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-bottom: 40px;
}

.site-footer {
  background-color: $footer-bg;
  padding: 1rem 3rem 1rem 3rem;
  text-align: center;
}

.project-name {
  font-size: 5.5em;
  color: $primary-color;
}

.lead {
  font-size: 2em;
}

.big {
  font-size: 1.5em;
}
