//
// Main SCSS File for Container-Immersion
//
body {
  font-family: $body-font;
  padding-top: 70px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font;
}

h1,
h2 {
  margin-top: 20px;
  margin-bottom: 20px;
}

h1 {
  font-size: 48px;
}

pre {
  font-family: $pre-font;
}

footer {
  margin-top: 70px;
}


.btn-nav {
  padding-left: 20px;
  padding-right: 20px;
  color: #fff;
  background-color: #222;
  transition: all 0.2s;
}

.btn-nav:hover {
  color: $primary-color;
  background-color: #000;
  transition: all 0.2s;
}

.btn-nav .fa,
.btn-nav:hover .fa {
  transition: all 0.3s;
}

.btn-nav .fa-chevron-left {
  margin-right: 5px;
}

.btn-nav:hover .fa-chevron-left {
  transform: translateX(-4px);
}

.btn-nav .fa-chevron-right {
  margin-left: 5px;
}

.btn-nav:hover .fa-chevron-right {
  transform: translateX(4px);
}

.bottom-nav {
  margin-top: 40px;
}

.start-text {
  font-family: $heading-font;
  font-size: 5em;
  margin-top: 20px;
  margin-bottom: 30px;
}

.site-footer {
  background-color: $footer-bg;
  padding: 1rem 3rem 1rem 3rem;
  text-align: center;
}

.project-name {
  font-size: 5.5em;
  color: $primary-color;
}

.lead {
  font-size: 2em;
}

.big {
  font-size: 1.5em;
}

.terminal {
  .highlight {
    pre {
      background-color: #000000;
      color: #00ff00;
    }

    code {
      font-family: $pre-font;
    }
  }
}

code {
    font-size: 85%;
    color: #000;
    background-color: rgba(27,31,35,0.05);
    border-radius: 3px;
    font-family: $pre-font;
}
