//
// Main SCSS File for Container-Immersion
//
body {
  font-family: $body-font;
  padding-top: 70px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font;
}

h1,
h2 {
  margin-top: 20px;
  margin-bottom: 20px;
}

h1 {
  font-size: 48px;
}

pre {
  font-family: $pre-font;
}

footer {
  margin-top: 70px;
}


.btn-nav {
  padding-left: 20px;
  padding-right: 20px;
  color: #fff;
  background-color: #222;
  transition: all 0.2s;
}

.btn-nav:hover {
  color: $primary-color;
  background-color: #000;
  transition: all 0.2s;
}

.btn-nav .fa,
.btn-nav:hover .fa {
  transition: all 0.3s;
}

.btn-nav .fa-chevron-left {
  margin-right: 5px;
}

.btn-nav:hover .fa-chevron-left {
  transform: translateX(-4px);
}

.btn-nav .fa-chevron-right {
  margin-left: 5px;
}

.btn-nav:hover .fa-chevron-right {
  transform: translateX(4px);
}

.bottom-nav {
  margin-top: 40px;
}

.start-text {
  font-family: $heading-font;
  font-size: 5em;
  margin-top: 20px;
  margin-bottom: 30px;
}

.site-footer {
  background-color: $footer-bg;
  padding: 1rem 3rem 1rem 3rem;
  text-align: center;
}

.project-name {
  font-size: 5.5em;
  color: $primary-color;

  &:before {
    display: inline-block;
    content: '';
    background: transparent url('../img/docker_front_page.png') 0 0 no-repeat;
    background-size: 100px;
    width: 100px;
    height: 100px;
  }
}

.lead {
  font-size: 2em;
}

.big {
  font-size: 1.5em;
}

.terminal {
  &:before {
    display: table;
    width: 100%;
    padding: 5px 0;
    font: 400 16px/24px $body-font;
    color: #444;
    text-align: center;
    content: "terminal";
    border-radius: 5px 5px 0 0;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
    background-color: #f7f7f7;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y3ZjdmNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjclIiBzdG9wLWNvbG9yPSIjY2ZjZmNmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2FhYWFhYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), color-stop(7%, #dbdbdb), to(#bababa));
    background-image: -webkit-linear-gradient(top, #f7f7f7 0%, #dbdbdb 7%, #bababa 100%);
    background-image: -moz-linear-gradient(top, #f7f7f7 0%, #dbdbdb 7%, #bababa 100%);
    background-image: -o-linear-gradient(top, #f7f7f7 0%, #dbdbdb 7%, #bababa 100%);
    background-image: linear-gradient(top, #f7f7f7 0%,#dbdbdb 7%,#bababa 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#bababa',GradientType=0 );
  }

  .highlight {
    pre {
      color: #00ff00;
      background-color: #000000;
      border: 0;
      border-radius: 0 0 6px 6px;
    }

    code {
      font-family: $pre-font;
      border-radius: 0 0 6px 6px;
      border: 0;
    }
  }
}

code {
    font-size: 85%;
    color: #000;
    background-color: rgba(27,31,35,0.05);
    font-family: $pre-font;
}
