//
// SCSS Variables for Container-Immersion
//

// Colors
$primary-color: #cc5c12;
$site-heading-bg: #333333;
$site-heading-color: #ffffff;
$footer-bg: #eee;

// Fonts
$body-font: 'Open Sans', sans-serif;
$heading-font: 'Nunito', sans-serif;
$pre-font: 'Source Code Pro', monospace;
