<!-- Begin navbar.html -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
<a href="https://github.com/you"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png"></a>
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="{{ '/' | relative_url }}">{{ site.title }}</a>
          </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                  {% if page.previous %}
                  <li>
                      <a href="{{ page.previous.url | relative_url }}"><i class="fa fa-chevron-left"></i> Lab {{ page.previous.number }}: {{ page.previous.title }}</a>
                  </li>
                  {% endif %}
                  <li>
                      <a href="{{ '/toc.html' | relative_url }}">Table of Contents</a>
                  </li>
                  {% if page.next %}
                  <li>
                      <a href="{{ page.next.url | relative_url }}">Lab {{ page.next.number }}: {{ page.next.title}} <i class="fa fa-chevron-right"></i></a>
                  </li>
                  {% endif %}
              </ul>
          </div>
          <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<!-- End navbar.html -->
