---
---

/* CSS for A Docker Immersion */

body {
  padding-top: 70px;
}

footer {
  padding-top: 70px;
}

.navbar-nav {
  float: right;
}

.start-text {
  font-size: 5em;
}

.site-heading {
  color: #ffffff;
  background-color: #333333;
  margin-top: -20px;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-bottom: 40px;
}

.project-name {
  font-size: 4em;
}

h1, h2 {
  margin-top: 30px;
  margin-bottom: 20px;
}

h1 {
  font-size: 48px;
}
