<!DOCTYPE html>
<html lang="en-us">

    <head>
        {% include head.html %}
    </head>
    <body>
        {% include navbar.html %}

        <!-- Page Content -->
        <div class="container-fluid">
            <div class="row site-heading">
                <div class="col-sm-12">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                              <h1 class="project-name text-left">{{ site.title | default: site.github.repository_name }}</h1>
                            </div>
                            <div class="col-sm-offset-1 col-sm-11">
                                <h2 class="lead text-left">Learn Docker by doing it.</h2>
                                <h2 class="lead text-left">{{ site.description | default: site.github.project_tagline }}</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-left">
                    <img src="{{ '/assets/img/docker_small_h-trans.png' | relative_url }}" alt="Docker logo" />
                    <p class="lead">
                        Docker is a powerful tool for managing and interacting with Linux Containers.
                        Understanding its features and capabilities opens new workflows to software
                        developers, and can change the way code is developed, tested, and released. The
                        best way to learn Docker is to experience it first-hand.
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-right start-text">
                    <a href="{{ '/labs/01-setup.html' | relative_url }}"><i class="fa fa-arrow-circle-right"></i> Begin Immersion</a>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-left">
                    <p>
                        Container Immersion is an open source project. To contribute, visit
                        our <a href="https://github.com/mkasberg/container-immersion"><i class="fa fa-github"></i> Project Page</a>.
                    </p>
                    <p>
                        Container Immersion is inspired by <a href="http://gitimmersion.com/">Git Immersion</a>,
                        a excellent immersion-style tutorial for Git.
                    </p>
                    <p>
                        Container Immersion is free to use and modify under the <a href="https://github.com/mkasberg/container-immersion/blob/master/LICENSE">MIT License</a>.  Our logo is based on the whale emoji from <a href="https://github.com/twitter/twemoji">Twemoji</a> (licensed under <a href="https://creativecommons.org/licenses/by/4.0/">CC-BY 4.0</a>).
                    </p>
                </div>
            </div>



        </div>
        {% include footer_row.html %}

        {% include js.html %}
    </body>
</html>
