<!DOCTYPE html>
<html lang="en-us">

    <head>
        <meta charset="UTF-8">
        <title>{{ page.title | default: site.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap Core CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>

        <!-- Custom "A Docker Immersion" CSS -->
        <link rel="stylesheet" href="{{ '/assets/css/immersion.css' | relative_url }}">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                          <span class="sr-only">Toggle navigation</span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                      </button>
                      <a class="navbar-brand" href="{{ '/' | relative_url }}">{{ site.title }}</a>
                  </div>
                  <!-- Collect the nav links, forms, and other content for toggling -->
                  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                      <ul class="nav navbar-nav">
                          {% if page.previous %}
                          <li>
                              <a href="{{ page.previous.url | relative_url }}">« Lab {{ page.previous.number }}: {{ page.previous.title }}</a>
                          </li>
                          {% endif %}
                          <li>
                              <a href="{{ '/toc.html' | relative_url }}">Table of Contents</a>
                          </li>
                          {% if page.next %}
                          <li>
                              <a href="{{ page.next.url | relative_url }}">Lab {{ page.next.number }}: {{ page.next.title}} »</a>
                          </li>
                          {% endif %}
                      </ul>
                  </div>
                  <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>

        <!-- Page Content -->
        <div class="container">

            <div class="row">
                <div class="col-lg-12 text-left">
                    <h1>Lab {{ page.number }}: {{ page.title }}</h1>

                    {{ content }}

                </div>
            </div>
            <!-- /.row -->

            <div class="row">
                <div class="col-sm-4 text-left">
                    {% if page.previous %}
                    <a href="{{ page.previous.url | relative_url }}">« Lab {{ page.previous.number }}: {{ page.previous.title }}</a>
                    {% endif %}
                </div>
                <div class="col-sm-4 text-center">
                    <a href="{{ '/toc.html' | relative_url }}">Table of Contents</a>
                </div>
                <div class="col-sm-4 text-right">
                    {% if page.next %}
                    <a href="{{ page.next.url | relative_url }}">Lab {{ page.next.number }}: {{ page.next.title}} »</a>
                    {% endif %}
                </div>
            </div>

            <div class="row">
                <footer class="site-footer">
                  {% if site.github.is_project_page %}
                    <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
                  {% endif %}
                  <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a>.</span>
                </footer>
            </div>

        </div>
        <!-- /.container -->

      <!-- jQuery Version 1.12.4 -->
      <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>

      <!-- Bootstrap Core JavaScript -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    {% if site.google_analytics %}
      <script type="text/javascript">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
  </body>
</html>
