<!DOCTYPE html>
<html lang="en-us">

    <head>
        {% include head.html %}
    </head>
    <body>
        {% include navbar.html %}

        <!-- Page Content -->
        <div class="container">

            <div class="row">
                <div class="col-lg-12 text-left">
                    <h1><small>Lab {{ page.number }}</small><br />{{ page.title }}</h1>

                    {{ content }}

                </div>
            </div>
            <!-- /.row -->

            <div class="row">
                <div class="col-sm-4 text-left">
                    {% if page.previous %}
                    <a class="btn btn-nav" href="{{ page.previous.url | relative_url }}"><i class="fa fa-chevron-left"></i> Lab {{ page.previous.number }}: {{ page.previous.title }}</a>
                    {% endif %}
                </div>
                <div class="col-sm-4 text-center">
                    <a href="{{ '/toc.html' | relative_url }}">Table of Contents</a>
                </div>
                <div class="col-sm-4 text-right">
                    {% if page.next %}
                    <a class="btn btn-nav" href="{{ page.next.url | relative_url }}">Lab {{ page.next.number }}: {{ page.next.title}} <i class="fa fa-chevron-right"></i></a>
                    {% endif %}
                </div>
            </div>


        </div>
        <!-- /.container -->

        {% include footer_row.html %}

        {% include js.html %}
  </body>
</html>
