<!DOCTYPE html>
<html lang="en-us">

    <head>
        {% include head.html %}
    </head>
    <body>
        {% include navbar.html %}

        <!-- Page Content -->
        <div class="container-fluid">
            <div class="row site-heading">
                <div class="col-sm-12">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <h1 class="project-name text-left">{{ site.title | default: site.github.repository_name }}</h1>
                            </div>
                            <div class="col-sm-offset-1 col-sm-11">
                                <h2 class="lead text-left">{{ site.description | default: site.github.project_tagline }}</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-lg-offset-2 col-lg-8 text-left">
                    <h2>Table of Contents</h2>
                    
                    <ol>
                        {% for lab in site.labs %}
                        <li><a href="{{ site.github.url }}{{ lab.url }}">{{ lab.title }}</a></li>
                        {% endfor %}
                    </ol>
                </div>
            </div>

            {% include footer_row.html %}
        </div>

        {% include js.html %}

    </body>
</html>
